body {
  margin: 0;
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:TriviaSeznam;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

a {
  text-decoration: none;
  color: #dc1f27;
}

*, *::before, *::after {
  box-sizing: border-box;
}