.base{
    display: flex;
    padding: 16px 8px;
    border-bottom: 1px solid #ccc;
}

.price {
    font-weight: bold;
}

.image{
    max-height: 100%;
    max-width: 100%;
    padding: 8px;
    margin-right: 8px;
}

.imageWrapper{
    height: 128px; 
    width: 128px;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
}

.name{
    color: #dc1f27;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;;
}

.perex{
    font-size: 12px;
}